 body {
    font-family: Arial, sans-serif;
    background-color: #181717;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .lcard {
    background-color: rgba(255, 255, 255, 0.678);
    color: #000;
    padding: 20px;
    margin: 10px;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 255, 0, 0.2), 0 6px 40px rgba(0, 255, 0, 0.2); /* Neon green glass morphism */
    width: calc(100% - 20px);
    transition: all 0.3s ease-in-out;
    transform: scale(.9);
    z-index: 5;
  }

  .lcard h2 {
    color: rgba(7, 143, 7, 0.932);
    margin-bottom: 10px;
  }

  .lcard p {
    color: #666;
  }

  .lcard img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .lcard:hover {
    color: #ff0000;
    background-color: rgba(18, 226, 18, 0.3);
    transform: translateY(10px);
    cursor: pointer;
    box-shadow: 0 8px 30px rgba(0, 255, 0, 0.4), 0 12px 60px rgba(0, 255, 0, 0.4);
  }

  /* PARTICLE-JS*/
  #particle-js{
    /* border: 10px solid red; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    /* pointer-events: none; */
  }